*{
    margin: 4px;
    padding-top: 0px;
}
body{
    background: url('imagens/fundo.png');
    width: 914px;
}
#menu {
    background-color: #c5c5b2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    padding: 10px;
    
    
}
#menu ul{
    display:inline-block;
    height: 5px;
}
#menu ul a{
    color: #888873;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    width: 900px;
    padding-right: 15px;
    margin-right: 10px;
    display: inline;
}
#menu ul a:hover{
    color: #4d4c3a;
}
/*stilizando css do conteudo*/
#conteudo{
    background-color: #e8e8d9;
    padding: 5px;
    display: block;
}
h1{
    color: #888873;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: #53523f;
    font-size: 16px;
    font-weight: bold;
    margin-top: 13px;
    padding-left: 8px;
}
/*stilizando rodape*/
#rodape{
    color: #53523f;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}
.imagens-campanhas{
    border: 10px solid #c3c3ae;
}
a{
    margin-left: 0;
}
